<style>  

    a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;

    background-color: #008CBA; 
    color: white; 
    border: 2px solid #008CBA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    }

    a.button:hover {
    background-color: white;
    color: black;
    }

</style>

<a href="{% url 'disks:album' %}" class="button">Return Home</a> <br> <br>

{% if album.track_set.all %}
    {% for track in album.track_set.all %}
        <h1>{{ track.name }} : </h1>
        <ul>
            <li>Composer : {{ track.composer }}</li>
            <li>Duration : {{ track.milliseconds }}</li>
            <li>Unit Price : {{ track.unitPrice | floatformat:2 }}</li>
        </ul> 
    {% endfor %}
{% else %}
    <p>No track in the album.</p>
{% endif %}